[Unit]
Description=Lenovo battery conservation OFF
Conflicts=battery-conservation-on.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/sh -c "echo 0  >  /sys/bus/platform/drivers/ideapad_acpi/VPC2004:00/conservation_mode"

[Install]
WantedBy=multi-user.target
