[Unit]
Description=Lenovo battery conservation ON
Conflicts=battery-conservation-off.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/sh -c "echo 1  >  /sys/bus/platform/drivers/ideapad_acpi/VPC2004:00/conservation_mode"

[Install]
WantedBy=multi-user.target
